.light.svelte-1g88ynx.svelte-1g88ynx {
  display: flex;
  justify-content: center;
}
.light.svelte-1g88ynx > div.svelte-1g88ynx {
  height: 4vw;
  width: 4vw;
  background: radial-gradient(
    rgb(255, 73, 73),
    rgb(143, 0, 0),
    #881f1f,
    transparent,
    transparent
  );
}
.on.svelte-1g88ynx.svelte-1g88ynx {
  background: radial-gradient(white, lime, transparent, transparent) !important;
}
.hazard.svelte-1vkdbug.svelte-1vkdbug {
  padding: 1vw;
  border: 1vw solid;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 1vw,
      #ffb101 1vw,
      #ffb101 2vw
    )
    10;
}
.button_container.svelte-1vkdbug > div.svelte-1vkdbug {
  display: flex;
  justify-content: center;
  padding-top: 0.5vw;
}
button.svelte-1vkdbug.svelte-1vkdbug {
  height: 3vw;
  width: 3vw;
  border-radius: 50vw;
  background: radial-gradient(rgb(255, 50, 50), rgb(116, 0, 0));
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.61);
}
button.svelte-1vkdbug.svelte-1vkdbug:hover {
  background: radial-gradient(rgb(255, 163, 163), rgb(189, 0, 0));
}
section.svelte-urzboy {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1vw;
}
p.svelte-k1o5tk {
  color: chartreuse;
}
.warning.svelte-k1o5tk {
  color: red;
}
.switch.svelte-5wl0xy {
  display: block;
  height: 3vw;
  background: rgb(66, 66, 66);
  border-radius: 50vw;
}
.up.svelte-5wl0xy {
  left: calc(100% - 3vw);
  background: radial-gradient(white, limegreen, yellowgreen);
}
.pending.svelte-5wl0xy {
  background: rgba(255, 123, 0, 0.712);
  left: calc(100% - 3vw);
}
.pending.svelte-5wl0xy::before {
  border-radius: inherit;
  content: "";
  width: 20%;
  height: 20%;
  position: absolute;
  top: 40%;
  bottom: 0;
  right: 0;
  left: 40%;
  background: rgb(255, 166, 0);
  z-index: -100;
  filter: blur(2px);
  animation: svelte-5wl0xy-pulse 2s infinite ease-in-out;
}
.down.svelte-5wl0xy {
  background: radial-gradient(rgb(255, 50, 50), rgb(116, 0, 0));
}
button.svelte-5wl0xy {
  left: 0;
  position: absolute;
  height: 3vw;
  width: 3vw;
  border-radius: 50vw;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.61);
  transition: left 0.5s;
}
@keyframes svelte-5wl0xy-pulse {
  0% {
    filter: blur(5px);
    transform: scale(1);
  }
  50% {
    filter: blur(2px);
    transform: scale(4);
  }
  100% {
    filter: blur(5px);
    transform: scale(1);
  }
}
